.scrollnavbar {
  background-color: #FFFFFF;
  height: calc(100vh - 70px);
  overflow: auto;


  .v-list-item--active {
    border-right: 6px solid rgb(var(--v-theme-primary));
    opacity: 1;

  }

}

.profile {
  background: url("/images/background/user-info.jpg") no-repeat;

  .profile-pic {
    padding: 30px 15px;
  }
}

.profile-name {
  background: rgba(0, 0, 0, 0.5);

  h5 {
    padding: 10px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

