// ================================== //
// Fonts
// ================================== //



// ================================== //
// Required Files
// ================================== //
@import "variables";
@import 'vuetify/lib/styles/main';

// ================================== //
// Vuetify overrides
// ================================== //
@import "components/overrides";

// ================================== //
// Template Common Components
// ================================== //
@import "template/header";
@import "template/footer";
@import "template/navigation";
@import "template/animation";
@import "template/logo";

// ================================== //
// Sections
// ================================== //
@import "template/section/banner";
@import "template/section/ui";
@import "template/section/features";
@import "template/section/gallery";
@import "template/section/pricing";
@import "template/section/team";
@import "template/section/article";
@import "template/section/contact";


// ================================== //
// Icons
// ================================== //
//@import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css";
