.contact-detail-card {
  padding: 42px;
  .detail-title {
    line-height: 36px;
    font-size: 26px;
    margin-bottom: 10px;

  }
}

.contact-title {
  margin: 20px 0 15px;
  line-height: 26px;
  font-size: 23px;

}


.sendBtn {
  margin-top: 12px !important;
}

@media (max-width: 1024px) {
  .contact-detail-card {
    .detail-title {
      font-size: 23px;
    }
  }
}


@media (max-width: 984px) and (min-width: 960px) {
  .sendBtn {
    margin-top: 58px !important;
  }
}


@media (min-width: 985px) and (max-width: 1075px) {
  .sendBtn {
    margin-top: 34px !important;
  }
}