//
// Feature 1
//
.about-component {
  .icon-round {
    font-size: 20px;
    width: 64px;
    color: rgb(var(--v-theme-light));
    line-height: 65px;
    text-align: center;
    display: inline-block;
    margin: 20px 0 30px;
    border-radius: 100%;
  }
}

.about-card {
  .icon-bold {
    transition: transform 0.3s ease;
  }

  &:hover {
    .icon-bold {
      transform: scale(1.2);
      transition: transform 0.6s ease;
    }
  }
}

.line {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1132%26quot%3b)' fill='none'%3e%3cpath d='M -238.86759969208586%2c227 C -142.87%2c242.2 49.13%2c300.2 241.13240030791414%2c303 C 433.13%2c305.8 529.13%2c243 721.1324003079142%2c241 C 913.13%2c239 1009.13%2c295 1201.1324003079142%2c293 C 1393.13%2c291 1633.36%2c220.4 1681.1324003079142%2c231 C 1728.91%2c241.6 1488.23%2c323 1440%2c346' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1132'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}


.linking {
  &:hover {
    i,a {
      transition: 0.2s ease-in;
      padding-right: 15px;
    }
  }
}

.section-title {
  font-size: 30px;
  margin: 20px 0 15px;
  line-height: 36px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 23px;
  }
}

//
// Feature 2
//
.service-action-btn {
  height: 100% !important;
}

@media (max-width: 767px) {
  //.service-action-btn {
  //  height: 50px !important;
  //}
}


//
// Feature 3
//

.feature3-component {
  position: relative;
  margin-bottom: 25px;
}

.feature3-card {
  position: absolute;
  top: 18%;
  right: 0;
  @media (min-width: 1025px) and (max-width: 1080px) {
    top: 12%;
  }
}

@media (max-width: 1024px) {
  .feature3-card {
    margin: 0 auto;
    position: relative;

  }
}

@media (min-width: 1025px) and (max-width: 1110px) {
  .feature3-component {
    margin-bottom: 4.25rem;
  }
  .feature3-card {
    top: 12%;
  }
}



