.gallery-card {
  .gallery-img {
    overflow: hidden;
    max-height: 255px;
    img {
      transition: 0.1s ease-in;
      cursor: pointer;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 50%; /* 16:9 */
  height: 0;
  display: flex;
}
.videoWrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .gallery-component {
    margin-top: 120px;
  }
}