
.app-header {
  background-color: transparent !important;
  height: 100% !important;
  .navbar-nav {
    align-items: center;
  }

  .v-toolbar {
    background-color: transparent;
  }

  &.header {
    top: 0 !important;
    height: 100px !important;

    .v-toolbar__content {
      height: 100% !important;
    }
  }

  .v-btn__overlay, .v-btn--variant-text .v-btn__overlay {
    background-color: #cfecfe !important;
  }

}


.v-navigation-drawer {
  margin-top: -64px !important;
  height: 100vh !important;
  z-index: 2000 !important;
  &__scrim {
    background: transparent;
  }
}

.nav2 {
  .v-navigation-drawer {
    margin-top: -64px !important;
  }
}

.common-links {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    list-style: none;

    a {
      transition: 0.1s ease-in;
    }

    &:hover a {
      padding-right: 5px;
    }
  }

  &.three-part li {
    width: 33%;
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .app-header {

    .navbar-nav {
      position: absolute;
      right: 0;
      top: 80px;
      width: 100%;
      flex-direction: column !important;

      .nav-item {
        text-align: center;

        .nav-link {
          line-height: 55px !important;
        }
      }
    }
  }


  .common-links {
    &.three-part li {
      width: 50%;

      a {
        font-size: 13px;
      }
    }
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .mob-imagesetter {
    background-size: unset;
    background-position: unset !important;
    margin-top: 29px;
  }

  .banner-title {
    margin-top: -30px;
  }

}

@media (max-width: 1024px) {
  .mob-header-fixed {
    position: fixed;
  }
  .v-toolbar__content {
    height: 100% !important;
  }

}


