@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');

$lightbg: #e5e7ec;
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
$border-radius: 8px;
$body-font-family: 'Vazirmatn', sans-serif !default;
$font-family: 'Vazirmatn', sans-serif;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;
